
div{
}

.msg{
    margin:auto;
    padding: 10px 10px;
    position:relative;
	color: black;
    background-color: #DDDDDD;
	font-style: bold;
	font-family:"Helvetica";
	font-size:18px;
	}
	
.bouton{
	width: 130px; font-size:30px; font-family:"Helvetica", cursive, sans-serif; background-color:white; color:black; text-align:center; margin-left:auto;margin-right:auto;
}

.spoiler{
	background-color:black;
}

	
/* span {
    color: white;
    background-color: #343132;
    box-shadow: 0.5em 0 0 #343132,-0.5em 0 0 #343132;
} */

input[type="text"]
{
    font-size:24px;
}

p{
	font-size:18px;
}