body {
	background-color:#000080;
	background-image:none;
	text-align:center;
	color:silver;
	font-family:Arial, Helvetica, sans-serif;
}
h1 {
	text-align:center;
	color:white;
	font-family:Arial, Helvetica, sans-serif;
	margin:3px;
}
#MainContainer {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #CCCCFF;
	background-image:url('Background2.png');
	border: medium solid black;
	padding: 0px;
	margin: auto;
	width: 1000px;
	height: 425px;
	position:relative;
	overflow:hidden;
}
#MainContainer p{
	color:black;
}
div#Feedback {
	position:absolute;
	top:10px;
	left:10px;
}
div#Feedback p{
	color:black;
	font-weight:bold;
}
img#Boat {
	width:326px;
	height:300px;
	position:absolute;
}
#Trophybutton {
	visibility: hidden;
	background-color:red;
	color:white;
	font-weight:bold;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
}
div#UnderContainer {
	width:1000px;
	height:500px;
	margin:auto;
	border: 0px solid black;
	position:relative;
	padding:0px;
}
div#LeftPanel, div#MiddlePanel, div#RightPanel {
	position:absolute;
	top:0px;
	margin:0px;
	border: 0px solid black;
	text-align:center;
}
div#LeftPanel {
	left:0px;
	width:340px;
}
div#MiddlePanel {
	left:350px;
	width:300px;
	padding-top:10px;
}
div#MiddlePanel p{
	color:white;
	font-weight:bold;
	text-align:left;
}
div#RightPanel {
	Right:0px;
	width:340px;
}
div#LowerPanel {
	position:absolute;
	bottom:0px;
	left:0px;
	width:998px;
	height:200px;
	margin:0px;
	border: 1px solid black;
	text-align:center;
}
a.whitebutton {
	width:350px;
	height:70px;
	text-align:center;
	color:white;
	font-weight:bold;
	background-color:gray;
	border:2px white solid;
	border-radius:35px;
	text-decoration:none;
}
