
body{
	background-color:#111111;margin-left:10%;margin-right:10%; color: white;font-size:22px;
}

 /* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
} 